@import "../../infrastructure/design/mixins.scss";

#about-section {
  @include scroll-snap-align;

  display: flex;
  flex-direction: row;

  // background-color: #F5CA7B;
  background: url("../../assets/about_images/12804210_5053309.jpg") no-repeat
    center center/cover;

  a {
    text-decoration: none;
    transition: all 0.6s ease;

    &:hover {
      transition: all 0.6s ease;
    }
  }

  aside {
    width: 15vw;
    // visibility: visible;
    background-color: #5bc995;

    header {
      background-color: #09f;
      width: 100%;
      display: block;
      padding: 0.75em 1em;
    }

    nav {
      position: fixed;
      //width: 13em;
      background-color: #19222a;
      height: 100%;
      font-weight: 400;
      font-size: 1.2em;
      overflow: auto;
      padding-bottom: 6em;
      z-index: 9;
      overflow: hidden;
      -webkit-overflow-scrolling: touch;

      ul {
        list-style: none;
        display: block;
        padding: 0;
        margin: 0;

        li {
          margin-left: 0;
          padding-left: 0;
          //min-width: 13em;
          display: inline-block;
          width: 100%;

          a {
            color: rgba(255, 255, 255, 0.9);
            font-size: 0.75em;
            padding: 1.05em 1em;
            position: relative;
            display: block;

            &:hover {
              background-color: rgba(0, 0, 0, 0.9);
              transition: all 0.6s ease;
            }
          }
        }
      }
    }
  }

  main {
    background-color: #ffea92;
    width: 85vw;
  }
}
