@import "../../infrastructure/design/mixins.scss";

#about-section {
  @include scroll-snap-align;

  background-color: #121212;

  .nav-tabs {
    background-color: #111 !important;

    .nav-item {
      @include display-flex-center;
      color: #121212 !important;
      font-size: 1.2vw;

      button {
        width: 70%;
        border: none;
        color: #111f4d;
        background-color: #f5ca7b;

        &:hover {
          color: #111f4d;
          background-color: #fbeccf;
        }
      }
    }
    .nav-link.active {
      color: #111f4d;
      background-color: #fff;
    }
  }
}
