*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  scrollbar-width: none; // for firefox
  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// font-family: 'Nunito Sans', sans-serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Poppins', sans-serif;

@import "~bootstrap/scss/bootstrap";
