@import "./mixins.scss";

.footer-container {
  @include overflow;
  @include overflow-behavior;
  @include scroll-snap-align;
  @include scroll-bar;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  overflow-x: wrap;
  width: 100%;
  height: fit-content;

  // background-color: #be9b7b;
  background-color: aliceblue;

  .container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
    width: 80%;
    min-height: 100%;
    // background-color: aliceblue;

    .footer-col {
      padding: 1em;

      :is(.title) {
        color: #4681f4;
      }

      :is(ul) {
        list-style: none;
      }

      :is(li) {
        color: #000d22;
      }
    }
  }

  .copyright-text {
    color: #bbb;
    margin-bottom: 2em;
  }
}
