@mixin overflow {
  overflow-y: auto;
  overflow-x: hidden;
}

@mixin overflow-behavior {
  scroll-behavior: smooth;
  overscroll-behavior: auto;
  scroll-snap-type: y mandatory;
}

@mixin scroll-snap-align {
  scroll-snap-align: start;
}

@mixin scroll-bar {
  &::-webkit-scrollbar {
    background-color: rgba(60, 47, 47, 0.2);
    width: 8px;
    margin-top: 3px;
    border-radius: 20px;
  }

  /* background of the scrollbar except button or resizer */
  &::-webkit-scrollbar-track {
    display: none;
  }

  /* scrollbar itself */
  &::-webkit-scrollbar-thumb {
    background-color: #7d141d;
    border-radius: 20px;
    border: 2px solid #999;
  }

  /* set button(top and bottom of the scrollbar) */
  &::-webkit-scrollbar-button {
    display: none;
  }
}

@mixin scroll-bar-hidden {
  scrollbar-width: none; // for firefox
  &::-webkit-scrollbar {
    display: none;
  }
}
