// Display styles
@mixin vw-vh-100 {
  width: 100vw;
  height: 100vh;
}

@mixin width-height-100 {
  width: 100%;
  height: 100%;
}

@mixin custom-width-height($width: auto, $height: auto) {
  width: $width;
  height: $height;
}

@mixin min-width-height($width, $height) {
  min-width: $width;
  min-height: $height;
}

@mixin display-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin display-grid-center {
  display: grid;
  place-items: center;
}

@mixin image-preserve-aspect-ratio {
  width: 100%;
  height: auto;
}

@mixin object-fit-cover {
  object-fit: cover;
}

// Overflow and scrolling styles
@mixin overflow-y {
  overflow-y: auto;
  overflow-x: hidden;
}

@mixin overflow-hidden {
  overflow: hidden;
}

@mixin scroll-behavior {
  scroll-behavior: smooth;
  overscroll-behavior: auto;
}

@mixin scroll-snap-type {
  scroll-snap-type: y mandatory;
}

@mixin scroll-snap-align {
  scroll-snap-align: start;
}

@mixin scroll-bar {
  &::-webkit-scrollbar {
    background-color: rgba(60, 47, 47, 0.2);
    width: 8px;
    margin-top: 3px;
    border-radius: 20px;
  }

  /* background of the scrollbar except button or resizer */
  &::-webkit-scrollbar-track {
    display: none;
  }

  /* scrollbar itself */
  &::-webkit-scrollbar-thumb {
    background-color: #7d141d;
    border-radius: 20px;
    border: 2px solid #999;
  }

  /* set button(top and bottom of the scrollbar) */
  &::-webkit-scrollbar-button {
    display: none;
  }
}

@mixin scroll-bar-hidden {
  scrollbar-width: none; // for firefox
  &::-webkit-scrollbar {
    display: none;
  }
}

// font-family: 'Nunito Sans', sans-serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Poppins', sans-serif;
